@page
@model EmployeeDashboard.Pages.EmployeeExplorerModel

<h2>Employee Explorer</h2>

<form method="get">

    <input
        type="text"
        name="Search"
        value="@Model.Search"
        placeholder="Search employee, email or project..." />

    <button type="submit">
        Search
    </button>

</form>

<br />

<table class="table">

    <thead>
        <tr>
            <th>Company</th>
            <th>Employee</th>
            <th>Email</th>
            <th>Project</th>
            <th>Task</th>
            <th>Status</th>
            <th>Date</th>
            <th>Hours</th>
        </tr>
    </thead>

    <tbody>

@foreach (var employee in Model.Employees)
{
    <tr>

        <td>@employee.CompanyCode</td>
        <td>@employee.EmployeeName</td>
        <td>@employee.Email</td>
        <td>@employee.ProjectName</td>
        <td>@employee.TaskName</td>
        <td>@employee.Status</td>
        <td>@employee.WorkDate.ToString("dd-MMM-yyyy")</td>
        <td>@employee.Hours</td>

    </tr>
}

    </tbody>

</table>